@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/frontend/main.js" asp-append-version="true"></script>
    <script src="~/frontend/polyfills.js"></script>
    <script src="~/frontend/runtime.js"></script>
    <script src="~/frontend/vendor.js"></script>
}

@section head { 
    <link href="~/frontend/styles.css" rel="stylesheet" />
}

@*<app-root></app-root>*@

<form class="form" method="Post" asp-controller="" asp-action="">
    <div class="filter">
        <div class="filter-item">
            <p>Destination</p>
            <input class="form-control" type="text" placeholder="Destination" />
        </div>
        <div class="filter-item">
            <p>Check-in</p>
            <input class="form-control" type="date" placeholder="Check-in" />
        </div>
        <div class="filter-item">
            <p>Check-out</p>
            <input class="form-control" type="date" placeholder="Check-out" />
        </div>
        <div class="filter-item">
            <p>Rooms</p>
            <input class="form-control" type="number" placeholder="Number of Rooms Required" />
        </div>
        <div class="filter-item">
            <p><i class="bi-search">Search</i></p>
            <button  style="border-radius : 5px;" type="submit" class="btn-outline-dark">Search</button>
        </div>
    </div>
</form>


